layout {

    pane split_direction="vertical" {
        pane 
    }

    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} #[fg=#4C4C59]#[fg=,bg=#4C4C59]󰙴 {session}#[fg=#4C4C59] {tabs}"
            format_right "#[fg=]{datetime}"
            format_space ""

            tab_active              " #[fg=white,bold] {name} "
            tab_normal              "  #[fg=#415a77,bold]{index} #[fg=#415a77,bold]{name}  "
            tab_normal_fullscreen   "#[fg=#6C7086,bg=#000000] {index} {name} [] "
            tab_normal_sync         "#[fg=#6C7086,bg=#000000] {index} {name} <> "
            tab_active_fullscreen   "#[fg=#9399B2,bg=#000000,bold,italic]   {name} [] "
            tab_active_sync         "#[fg=#9399B2,bg=#000000,bold,italic]   {name} <> "


            hide_frame_for_single_pane "true"

            mode_normal        "#[fg=#70d6ff,bold,bg=] OK "
            mode_locked        "#[fg=#ff3c38,bold,bg=] LOCK "
            mode_resize        "#[fg=#ff9770,bold,bg=] RESIZE "
            mode_pane          "#[fg=#ffd670,bold,bg=] PANE "
            mode_tab           "#[fg=#04e762,bold,bg=] TAB "
            mode_scroll        "#[fg=#f038ff,bold,bg=] SCROLL "
            mode_enter_search  "#[fg=white,bold,bg=] ENTER-SEARCH "
            mode_search        "#[fg=white,bold,bg=] SEARCH "
            mode_rename_tab    "#[fg=#00f5d4,bold,bg=] RENAME-TAB "
            mode_rename_pane   "#[fg=#00f5d4,bold,bg=] RENAME-PANE "
            mode_session       "#[fg=#ffbf81,bold,bg=] SESSION "
            mode_move          "#[fg=white,bold,bg=] MOVE "
            mode_prompt        "#[fg=white,bold,bg=] PROMPT "



            datetime          "#[fg=white,bg=,bold] {format} "  
            datetime_format   "%A, %d %b %Y"
            datetime_timezone "Asia/Ho_Chi_Minh"
        }
    }
}
